<launch>

 
  <node pkg="depth_map" type="vio_depth" name="vio_depth" output="screen"/>
  <include file="$(find realsense_camera)/launch/zr300_nodelet_default.launch"> 
  </include>
  <include file="$(find openni2_launch)/launch/openni2.launch">
  </include> 
  <!--include file="$(find vins_estimator)/launch/fisheye_extrinsic.launch">
  </include--> 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find depth_map)/launch/vins_rviz_config.rviz"/> 
   
 

</launch>
